<app-header></app-header>
<div *ngIf="gameInProgress; else gameOver">
  <app-panel (finishGame)="finishGame($event)"></app-panel>
</div>

<ng-template #gameOver>
  <div *ngIf="endingType === 'failure'; else gameOverVictory" class="container" style="margin-top: 50px">
    <div class="row">
      <div class="class">
        <h3 style="color: red">Game over. You lose.</h3>
        <button class="btn btn-primary" (click)="restartGame()">Restart game</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #gameOverVictory>
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="class">
        <h3 style="color: green">Game over. You won, congratulations!</h3>
        <button class="btn btn-primary" (click)="restartGame()">Restart game</button>
      </div>
    </div>
  </div>
</ng-template>